<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="classes" name="Suite">
  <test thread-count="5" parallel="classes" name="Test">
    <classes>
      <class name="test.TC001LoginTest"/>
      <class name="test.TC002LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
